body {

background-size: cover;
background-repeat: no-repeat;
background-position: center;    
}

.retour {
text-align: center;
width: 40px;
height: 40px;
margin-top:5px;

}
.contenu {
/*position: absolute;*/
border: 1px solid black;
width: 600px;
height: 600px;

}
.bordure {
border-bottom: 1px solid black;
height: -0px;
    
}
.suivant{
width: 40px;
height: 40px;
margin-top:5px;

}
.tous {
margin-left: 500px;

}
.rechercher {
}
.div1 {
display: flex;
justify-content: space-between;
border-bottom: 1px solid black;
background-color: #0133FE;
}
.d1 {
color: Black;
}

